<form class="qr-code-form" [formGroup]="qrCodeUrlForm" (ngSubmit)="submitQrCodeRequest()">

    <mat-form-field class="qr-code-form-field" appearance="outline">
        <mat-label>Url</mat-label>
        <input type="url" matInput formControlName="url" required placeholder="https://www.example.com">
    </mat-form-field>

    <app-progress-button [caption]="'Generate QR code'" [icon]="'cached'"
        [disabled]="!qrCodeUrlForm.valid" [progress]="generatingQrCodeBlob$ | async">
    </app-progress-button>

</form>

<!-- 
<p>Form Value: {{ qrCodeUrlForm.value | json }}</p>
<p>Form Status: {{ qrCodeUrlForm.status }}</p> 
-->