<form class="qr-code-form" [formGroup]="qrCodeCzPaymentForm" (ngSubmit)="submitQrCodeRequest()">
    <ul class="flex-container">
        <li class="flex-item-1">
            <mat-form-field appearance="outline" class="qr-code-form-field">
                <mat-label>Prefix</mat-label>
                <input type="text" matInput formControlName="prefix" placeholder="" class="text-align-right">
            </mat-form-field>
        </li>
        <li class="flex-item-div">
            -
        </li>
        <li class="flex-item-2">
            <mat-form-field appearance="outline" class="qr-code-form-field">
                <mat-label>Account Number</mat-label>
                <input type="text" matInput formControlName="account" required placeholder="" class="text-align-right">
            </mat-form-field>
        </li>
        <li class="flex-item-div">
            /
        </li>
        <li class="flex-item-3">
            <mat-form-field appearance="outline" class="qr-code-form-field">
                <mat-label>Bank</mat-label>
                <input type="text" matInput formControlName="bank" required placeholder="">
            </mat-form-field>
        </li>
    </ul>

    <mat-form-field appearance="outline" class="qr-code-form-field">
        <mat-label>Amount</mat-label>
        <input type="text" matInput formControlName="amount" placeholder="0.00" class="text-align-right">
    </mat-form-field>
<!-- 
        <input type="text" matInput formControlName="amount" placeholder="0.00" value="0.00" class="text-align-right">
        <input type="text" matInput required placeholder="Amount" value="0.00" class="text-align-right">
 -->

    <mat-form-field appearance="outline" class="qr-code-form-field">
        <mat-label>Variable Symbol</mat-label>
        <input type="text" matInput formControlName="variableSymbol" placeholder="">
    </mat-form-field>

    <mat-form-field appearance="outline" class="qr-code-form-field">
        <mat-label>Specific Symbol</mat-label>
        <input type="text" matInput formControlName="specificSymbol" placeholder="">
    </mat-form-field>

    <mat-form-field appearance="outline" class="qr-code-form-field">
        <mat-label>Constant Symbol</mat-label>
        <input type="text" matInput formControlName="constantSymbol" placeholder="">
    </mat-form-field>

    <mat-form-field class="qr-code-form-field" appearance="outline">
        <mat-label>Message</mat-label>
        <textarea matInput formControlName="message" placeholder="Message"></textarea>
    </mat-form-field>

    <app-progress-button [caption]="'Generate QR code'" [icon]="'cached'"
        [disabled]="!qrCodeCzPaymentForm.valid" [progress]="generatingQrCodeBlob$ | async">
    </app-progress-button>
</form>




  
  