// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

@use './assets/styles/app-theme' as appTheme;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.elevation-classes();
@include mat.app-background();

// Generates styles for all systems configured in the theme. In this case, color styles
// and default density styles are generated. Density is in themes by default.
@include mat.all-component-themes(appTheme.$app-light-theme);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component that you are using.
// see also: https://github.com/angular/components/blob/main/guides/duplicate-theming-styles.md
.theme-light {}

.theme-dark {
  // This mixin only generates the color styles now.
  @include mat.all-component-colors(appTheme.$app-dark-theme);
}


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.qr-code-card-container {
  width: 100%;
}

.qr-code-form {
  width: 100%;
}

.qr-code-form-field {
  width: 100%;
  @include mat.all-component-densities(-1);
}

.snack-bar-error {
  @include mat.snack-bar-overrides((
    button-color: white,
    container-color: #f44336,
    supporting-text-color: white,
    supporting-text-weight: bold
  ));
}

/* Media query for devices with a minimum width of 768px (typical tablets) */
@media (min-width: 768px) {
  .qr-code-card-container {
    width: 100%;
  }
}

/* Media query for devices with a minimum width of 992px (typical desktops) */
@media (min-width: 992px) {
  .qr-code-card-container {
    width: 700px;
  }
}