// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

@import './assets/styles/app-theme';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Generates styles for all systems configured in the theme. In this case, color styles
// and default density styles are generated. Density is in themes by default.
@include mat.all-component-themes($app-light-theme);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component that you are using.
// see also: https://github.com/angular/components/blob/main/guides/duplicate-theming-styles.md
.theme-light {
}

.theme-dark {
  // This mixin only generates the color styles now.
  @include mat.all-component-colors($app-dark-theme);    
}


html, 
body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.qr-code-definition-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
 
.qr-code-definition-field-width {
    width: 80%;
    @include mat.all-component-densities(-1);
}




.container {
  // margin: 20px;
  margin: 1rem;
}