@use '@angular/material' as mat;

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$theme-primary: mat.m2-define-palette(mat.$m2-indigo-palette, A200, A100, A400);
$theme-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
// The warn palette is optional (defaults to red).
$theme-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object.
// A theme consists of configurations for individual theming systems such as "color" or "typography".
$app-light-theme: mat.m2-define-light-theme((
  color: (
    primary: $theme-primary,
    accent: $theme-accent,
    warn: $theme-warn,
  ),
  typography: mat.m2-define-typography-config(),
  density: 0
));

$app-dark-theme: mat.m2-define-dark-theme((
  color: (
    primary: $theme-primary,
    accent: $theme-accent,
    warn: $theme-warn,
  ),
  typography: mat.m2-define-typography-config(),
  density: 0
));

$accent-color: mat.m2-get-color-from-palette($theme-accent, A200); // background-color: #E31C65;

