@import '@angular/material/theming';
@import './app-color-palette';
  
// Export theme colors
$color-primary: mat-color($app-primary);
$color-accent: mat-color($app-accent, 300);
$color-warn: mat-color($app-warn);

@mixin get-theme-color-accent($property: null) {
    & {
        #{$property}: mat-color($app-accent, 300);
    }

    .theme-light & {
        #{$property}: mat-color($app-accent, 300);
    }

    .theme-dark & {
        #{$property}: mat-color($app-accent, 800);
    }
}
