@use '../../../assets/styles/app-theme' as appTheme;

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

// Removed to enable background color
// .sidenav .mat-toolbar {
//   background: inherit;
// }

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 10;
}

// Side bar active menu item highlight color
.is-active {
  background-color: appTheme.$accent-color;
}

.toolbar-content-spacer {
  flex: 1 1 auto;
}

.router-outlet-container {
  margin: 1rem;
}