<form class="qr-code-form" [formGroup]="qrCodeEmailForm" (ngSubmit)="submitQrCodeRequest()">

    <mat-form-field class="qr-code-form-field" appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" required placeholder="example@example.com">
    </mat-form-field>

    <mat-form-field class="qr-code-form-field" appearance="outline">
        <mat-label>Subject</mat-label>
        <input type="text" matInput formControlName="subject" required placeholder="Subject">
    </mat-form-field>

    <mat-form-field class="qr-code-form-field" appearance="outline">
        <mat-label>Message</mat-label>
        <textarea matInput formControlName="message" placeholder="Message"></textarea>
    </mat-form-field>

    <app-progress-button [caption]="'Generate QR code'" [icon]="'cached'"
        [disabled]="!qrCodeEmailForm.valid" [progress]="generatingQrCodeBlob$ | async">
    </app-progress-button>

</form>
  