<div class="main-container">
    <mat-card>
        <div class="qr-code-card-container">
            <mat-card-header>
                <mat-card-title>{{ qrCodeLabel }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    <app-qr-code-url *ngIf="getVisible('Url')" (qrCodeImageBlobEvent)="onQrCodeImageBlob($event)"/>
                    <app-qr-code-email *ngIf="getVisible('Email')" (qrCodeImageBlobEvent)="onQrCodeImageBlob($event)"/>
                    <app-qr-code-cz-payment *ngIf="getVisible('CZ Payment Order')" (qrCodeImageBlobEvent)="onQrCodeImageBlob($event)"/>
                </p>
    
                <mat-divider></mat-divider>
    
                <div class="qr-img-container">
                    <img mat-card-xl-image [src]="qrCodeImageData" alt="QR code image">
                    <img mat-card-xl-image [src]="qrCodeData$ | async" alt="QR code image 2">
                </div>
                <button [disabled]="qrCodeDisabled" (click)="onBtnDownloadQrCodeImage()" class="qr-code-button" mat-raised-button color="primary">
                    @if (!(downloadingQrCode$ | async)) {
                        <div class="qr-code-button-icon-container">
                          <mat-icon>download</mat-icon>
                          <span class="qr-code-button-icon-caption">Download</span>          
                        </div>
                      }
                      @else {
                        <mat-spinner [diameter]="22" color="accent"></mat-spinner>
                      }
                </button>
                <!-- Hidden download link -->
                <a #imageDownloadLink style="display: none;"></a>        
            </mat-card-content>
        </div>
    </mat-card>
</div>
