.main-container {
  margin: 1rem;
}

.mat-divider.mat-divider-horizontal {
  border-top-width: 8px;
  border-radius: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

.qr-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}