.main-container {
  margin: 1rem;
}

.mat-divider.mat-divider-horizontal {
  border-top-width: 8px;
  border-radius: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

.qr-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.snack-bar-error {
  --mdc-snackbar-container-color: red !important;
  --mdc-snackbar-supporting-text-color: #ffffff !important;

  // It's NOT working properly, see also:
  // https://github.com/angular/components/issues/26928
  // https://github.com/angular/components/issues/27328
  --mat-mdc-snack-bar-button-color: #ffffff !important;

  white-space: pre-wrap
}