<div class="main-container">
    <mat-card>
        <div class="qr-code-card-container">
            <mat-card-header>
                <mat-card-title>{{ qrCodeTitle }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    @switch (routeData) {
                        @case ('Url')               { <app-qr-code-form-url/> }
                        @case ('Email')             { <app-qr-code-form-email/> }
                        @case ('CZ Payment Order')  { <app-qr-code-form-cz-payment/>}
                    }
                </p>
    
                <mat-divider></mat-divider>
    
                <div class="qr-img-container">
                    <img mat-card-xl-image [src]="qrCodeData$ | async" alt="QR code image">
                </div>

                <app-progress-button [caption]="'Download'" [icon]="'download'" (onClickEvent)="onBtnDownloadQrCodeImage()"
                    [disabled]="!(qrCodeBlobEnabled$ | async)" [progress]="downloadingQrCode$ | async">
                </app-progress-button>
                
                <!-- Hidden download link -->
                <a #imageDownloadLink style="display: none;"></a>        
            </mat-card-content>
        </div>
    </mat-card>
</div>
